# to add a user, run "websql/index.pl" from command line then paste the config here
%WEBSQL::USERS = (

);

# provide connection configuration
%WEBSQL::CONNECTIONS = (

  # see perldoc DBI, for more info
  # 'alias' => {
  #   dsn => 'dbi:Oracle:dbname',
  #   user => 'dbuser',
  #   pass => 'dbpass'
  # },

  # advanced postgres example
  #'foo' => {
  #  dsn => 'dbi:Pg:dbname=foo;host=127.0.0.1;port=5432',
  #  user => 'postgres',
  #  pass => 'postgres',
  #  initsql => "SET search_path=foo,phpbb,public;",
  #  dictionary => sub {
  #    local $ENV{PGPASSWORD} = 'postgres';
  #    my $out = `pg_dump -x -p 5432 -h 127.0.0.1 -U postgres -n foo -n phpbb foo --schema-only`;
  #    return $out;
  #  }
  #},

);
